<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    h1{background-color: aquamarine;}
    h4{background-color: blue;}
</style>
<script>
    alert()


</script>
<body>
    <h1 style="border: 6cap;">GRAN TITULO HTML</h1>
    <h4>PEQUEÑO TITULO HTML</h4>
    <button style="background-color: blueviolet;"><a href="https://online.keepcoding.io" target="_blank">Ir a keep coding</a></button>
    <a href="https://online.keepcoding.io" target="_blank">Ir a keep coding</a>
</body>
</html>